@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = null;
}

<html>
<head>
    <title>Login Success</title>
    <style>
        body {
            border-radius: 25px;
            border: 2px solid red;
            padding: 50px 125px;
            width: 250px;
            height: 100px;
            color: forestgreen;
            text-align: center;
            font-size: 25px;
            margin-left: 30%;
            background-image: url(https://ak-d.tripcdn.com/images/100k1f000001gui9o94D8_C_420_280.jpg);
            background-size:1280px 720px;
        }

    </style>
</head>
<body>
    <div id="aa">@ViewBag.message</div>
</body>
</html>